<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')  %> 
<body>

  <%- include('./partials/nav.ejs')  %> 


    <div class="container">

        <button onclick="window.location.href='/create'" class = "btn btn-primary text-capitalize mx-auto d-block mb-5">create new post</button>

<div class="row">
 <div class="col-md-6">
    <div class="card">
        <div class="card-header">
          heading
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="" class = "mr-4 text-danger"><i class="far fa-trash-alt"></i></a>
          <a href="" class = "mr-0 text-warning"><i class="far fa-edit"></i></a>
            
        </div>
      </div>
 </div>

 <div class="col-md-6">
    <div class="card">
        <div class="card-header">
          heading
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="" class = "mr-4 text-danger"><i class="far fa-trash-alt"></i></a>
          <a href="" class = "mr-0 text-warning"><i class="far fa-edit"></i></a>
            
        </div>
      </div>
 </div>

</div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>