<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>


      <div class="container">

        <button onclick="window.location.href='/create'"
          class="btn btn-primary text-capitalize mx-auto d-block mb-5">create new post</button>

        <div class="row">

          <% if(blogs.length === 0 ){ %>
            <p>No blog :")</p>




            <% }else {  %>

              <% blogs.forEach( blog=>{ %>



                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <%= blog.heading %>
                    </div>
                    <div class="card-body">
                      <p class="card-text"> Writer: <%= blog.author %>
                      </p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                      <a href="" class="mr-4 text-danger"><i class="far fa-trash-alt"></i></a>
                      <a href="" class="mr-0 text-warning"><i class="far fa-edit"></i></a>

                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>



        </div>
      </div>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>

</html>